$primary: #298140;
$middleGreen: #257B2D;
$lightGreen: #37AA49;
$darkGreen: #20562d;
$cardTeal: #edf7f6;
$darkGrey: #54595F;
$lightGrey: #F3F3F3;
$accent: white;

body {
  font-family: "sofia-pro", Sans-serif;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .bannerTitle {
    color: $primary;
    font-size: 2.5em;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 1.2em;
  }

  .bannerSubtitle {
    color: $lightGreen;
    font-size: 1.6em;
    font-weight: 600;
    line-height: 1.2em;
  }

  .submissionTitle {
    color: $primary;
    font-size: 2.5em;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 1.2em;
    word-break: normal;
    justify-content: center;
  }
}